.container {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.titleInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}

.saveButton {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}

.saveButton:hover {
  background-color: #0056b3;
}
