.container {
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
}

.tweetBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.tweetInput {
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tweetButton {
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background-color: #1da1f2;
  border: none;
  border-radius: 20px;
}

.tweetButton:disabled {
  background-color: #aaa;
}

.timeline {
  padding: 0;
  list-style: none;
}

.tweet {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.tweetInfo {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  color: #555;
}
